<!DOCTYPE html>
<html lang="en">
<head>
    <title>Struc {{data.title}}</title>
    <link rel="stylesheet" href="/static/style.css"/>

</head>
<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/add">Add structure</a></li>
</ul>
<h1></h1>
<div class="container">
<div class="content">
<h1>RECORD {{id}}</h1>
<form method='post' id='editForm' action="/rec_edit">
<input type="hidden" id="custId" name="custId" value="{{id}}">
 {% for key in data %}
  <div id = "div {{key}}">
  <label id="label {{key}}" for="fname">{{ key }}</label><br>
  <input type="text" id="input {{key}}" name="{{key}}" value = "{{data[key]}}"><br >
  <br>
  <br>
  </div>
 {% endfor %}
</form>
<button id = "confirm" form = "editForm" class="button-55">Submit</button>
</div>
</div>

</body>
<script type="text/javascript" src="/static/react.js"></script>
</html>